# /etc/systemd/system/media-server.service

[Unit]
Description=Media Server Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/media/usbdisk/media-server
ExecStart=/usr/local/bin/docker-compose pull && /usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
